<section id="contact" class="contact section">
    <div class="container">
        <div class="contact-inner">
            <h2 class="title text-center">Contact / Contributions</h2>
            <p class="intro text-center">
                Feel free to <a href="mailto:{{ site.email }}">contact me</a> if you have questions.
                Contributions to the project are welcome.
            </p>
            <h3 class="title text-center">Imprint</h3>
            Alexander Meißner<br/>
            Stahnsdorfer Straße 148B<br/>
            14482 Potsdam, Germany, Europe, Earth
        </div>
    </div>
</section>
