    <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="contact-inner">
                <h2 class="title  text-center">Contact/Contributions</h2>
                <p class="intro  text-center">Feel free to <a href="mailto:AlexanderMeissner@gmx.net">contact me</a> if you have questions. Contributions to the project are welcome.</p>

            </div><!--//contact-inner-->
        </div><!--//container-->
    </section><!--//contact-->  
