    <!-- ******DOCS****** -->
    <section id="docs" class="docs section">
        <div class="container">
            <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>
            <div class="block">
                <h3 class="sub-title text-center">Installation</h3>
                <p></p>
                <div class="code-block">
                    <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                    <pre><code class="language-markup">
    $ git clone https://github.com/Symatem/Symatem
    $ cd Symatem
    $ git submodule init
    $ git submodule update
    $ cd VirtualMachine
    $ make
                    </code></pre>
                </div>
            </div>
            <div class="block">
                <h3 class="sub-title text-center">Tutorials</h3>
                <p>Coming soon</p>
                <h3 class="sub-title text-center">Documenation</h3>
                <p><a href="https://github.com/Symatem/Documentation">take a look here</a></p>
            </div>
        </div>
    </section>
