<section id="docs" class="docs section">
    <div class="container">
        <div class="docs-inner">
            <h2 class="title text-center">Get Started</h2>
            <div class="block">
                <h3 class="sub-title text-center">Installation</h3>
                <p></p>
                <div class="code-block">
                    <pre><code class="language-bash">git clone https://github.com/Symatem/Symatem
cd Symatem
git submodule init
git submodule update
cd VirtualMachine
make</code></pre>
                </div>
            </div>
            <div class="block">
                <h3 class="sub-title text-center">Tutorials</h3>
                <p>Coming soon</p>
                <h3 class="sub-title text-center">Documentation</h3>
                <p>Symatem is about thinking differently about computers: The way we use them, store data, write programs and develop software. If you give it a try, you will find out soon, that even though some things are familiar others are completely alien to you.</p>
                <p>I recommend this <a href="http://waitbutwhy.com/2015/11/the-cook-and-the-chef-musks-secret-sauce.html">WBW Post</a> about thinking differently in general.</p>
                <p>I tried to break things down to their basic elements and rearrange them in a useful way regardless of how most others are doing them. Thats why Symatem is not just a:
                    <ul>
                        <li>Programming language</li>
                        <li>Database</li>
                        <li>Ontology Engine</li>
                        <li>Filesystem</li>
                        <li>Operating-System</li>
                    </ul>
                It is a unique way of combining all of those into one.
                </p>
            </div>
            <p class="text-center">
                <a class="btn btn-cta-primary" href="https://github.com/Symatem/Documentation">Read more</a>
            </p>
        </div>
    </div>
</section>
