<section id="example" class="example section">
    <div class="container">
        <h2 class="title text-center">Example</h2>
        <div class="row">
            <div class="item col-md-5 col-sm-5 col-xs-12">
                <div class="code-block">
                    <pre><code class="language-symatemHRL">
    (FiboRec; Execute)
    (Procedure Create;
        Static (Output #a #b;); Next)
    (Procedure LessThan;
        Dynamic (Output #a; Input Input;);
        Static (Comparandum 2;); Next)
    (Procedure Branch;
        Dynamic (Input #a;);
        Static (Branch
            (Procedure CloneBlob;
                Dynamic (Input Input; Output Output;);
            Next)
            (Procedure Pop; Static (Count 2;););
        ); Next)
    (Procedure Subtract;
        Dynamic (Output #a; Minuend Input;);
        Static (Subtrahend 2;); Next)
    (Procedure FiboRec;
        Dynamic (Output #a; Input #a;); Next)
    (Procedure Subtract;
        Dynamic (Output #b; Minuend Input;);
        Static (Subtrahend 1;); Next)
    (Procedure FiboRec;
        Dynamic (Output #b; Input #b;); Next)
    (Procedure Add;
        Dynamic (Output Output; Input #a #b;);)
                     </code></pre>
                </div>
            </div>
            <div class="item col-md-7 col-sm-7 col-xs-12">
                <div id="SymatemVisualizer">
                    <script type="text/javascript" src="{{ site.baseurl }}public/js/SymatemVisualizer.js"></script>
                </div>
            </div>
        </div>
        <p class="text-center">
            <a class="btn btn-cta-primary scrollto" href="#docs">Get started</a>
        </p>
    </div>
</section>
