<section id="example" class="about section">
    <div class="container">
        <h2 class="title text-center">Example</h2>
        <div class="row">
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <div class="code-block">
                    <!--//Use Prismjs - http://prismjs.com/index.html#basic-usage -->
                    <pre><code class="language-markup">
    (FibonacciRecursive; Execute)
    (Procedure Create; Output #a #b; Next)
    (Procedure LessThan; Input Input; Comparandum 2; Output #a; Next)
    (Procedure Branch; Input #a;
        Branch (Procedure CloneExtend; Input Input; Output Output; Next)
               (Procedure Pop; Count 2;);
        Next)
    (Procedure Subtract; Minuend Input; Subtrahend 2; Output #b; Next)
    (Procedure FibonacciRecursive; Input #b; Output #a; Next)
    (Procedure Subtract; Minuend Input; Subtrahend 1; Output #b; Next)
    (Procedure FibonacciRecursive; Input #b; Output #b; Next)
    (Procedure Add; Input #a #b; Output Output;)
                     </code></pre>
                </div>
            </div>
            <div class="item col-md-6 col-sm-6 col-xs-12">
                <script>
                    sigma.parsers.json('example.json', {
                        container: 'example-container',
                        settings: {
                            defaultNodeColor: '#ec5148'
                        }
                    });
                </script>
                <div style="max-width: 600px; height: 400px; background-color:white;"id="example-container"></div>
                <!--http://sigmajs.org/-->
            </div>
        </div>
        <p class="text-center">
            <a class="btn btn-cta-primary scrollto" href="#docs">Get started</a>
        </p>    
    </div>
</section>