    <!-- ******FEATURES****** -->
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Components</h2>
            <ul class="feature-list list-unstyled">
                <li><i class="fa fa-check"></i> Human-readable Language</li>
                <li><i class="fa fa-check"></i> Virtual Machine</li>
                <li><i class="fa fa-check"></i> Commandline Interface</li>
                <li>Standard library</li>
                <li><a href="https://github.com/WebAssembly">WebAssembly</a> compiler</li>
                <li><a href="http://riscv.org">RiscV</a> compiler</li>
                <li>Runtime Environment and Kernel</li>
                <li>Visualizer and Editor</li>
            </ul>
        </div>
    </section>
