    <!-- ******LICENSE****** -->
    <section id="license" class="license section">
        <div class="container">
            <div class="license-inner">
                <h2 class="title text-center">License</h2>
                <div class="info">
                    Symatem is published under the
                    <a href="http://choosealicense.com/licenses/mit/">MIT License</a>
                    so feel free to experiment and use it in your projects.
                </div>
            </div>
        </div>
    </section>
