<section id="promo" class="promo section offset-header">
    <div class="container text-center">
        <h2 class="title"><div class="logo"></div> {{ site.title }}</h2>
        <p class="intro">Reinventing software from scratch.</p>
        <div class="btns">
            <a class="btn btn-cta-secondary scrollto" href="#example">Example</a>
            <a class="btn btn-cta-primary scrollto" href="#docs">Get started</a>
        </div>
        <ul class="meta list-inline">
            <li class="github-star"><iframe src="https://ghbtns.com/github-btn.html?user=symatem&repo=symatem&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe></li>
            <li class="github-fork"><iframe src="https://ghbtns.com/github-btn.html?user=symatem&repo=symatem&type=fork&count=true&size=large" frameborder="0" scrolling="0" width="158px" height="30px"></iframe></li>
        </ul>
    </div>
</section>
