<section id="timeline" class="timeline section">
    <div class="container text-center">
        <h2 class="title">Timeline</h2>
        <ul class="feature-list list-unstyled">
            <li><i class="fa fa-check"></i> Human-readable Language</li>
            <li><i class="fa fa-check"></i> Virtual Machine</li>
            <li><i class="fa fa-check"></i> Commandline Interface</li>
            <li>Binary Representation</li>
            <li>Software Transactional Memory</li>
            <li>Standard Library</li>
            <li><a href="https://github.com/WebAssembly">WebAssembly</a> Compiler</li>
            <li><a href="http://riscv.org">RiscV</a> Compiler</li>
            <li>Runtime Environment and Kernel</li>
            <li><a href="https://github.com/Symatem/IDE">IDE: Visualizer and Editor</a></li>
        </ul>
    </div>
</section>
